<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form role="form" id="driverForm" class="form-horizontal">
            <div class="modal-header">
                <div class="modal-title">司机信息</div>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="driver_name">真实名称</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="driver_name" ng-model="driver.driver_name">
                        </div>
                        <label class="col-md-2 control-label" for="password">密码</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="password" ng-model="driver.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="id_card">身份证号</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="driver.id_card">
                        </div>
                        <label class="col-md-2 control-label" for="company_address">登录名称</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="driver.driverlogin_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="driver_phone">联系方式</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="driver.driver_phone">
                        </div>
                        <label class="col-md-2 control-label" for="address">详细地址</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="driver.address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="license">驾驶证</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="driver.license">
                        </div>
                        <label class="col-md-2 control-label" for="truck_model">车辆型号</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="driver.truck_model">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="truck_id">车牌号</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="driver.truck_id">
                        </div>
                        <label class="col-md-2 control-label" for="truck_pic">车辆图片</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text"  ng-model="driver.truck_pic">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="provice_id">所在省份</label>
                        <div class="col-sm-4">
                            <select class="form-control" type="text" ng-change="change(driver.provice_id)"  ng-model="driver.provice_id">
                                <option ng-repeat="x in provice" value="{{x.provice_id}}">{{x.provice_name}}</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label" for="city-id">所在城市</label>
                        <div class="col-sm-4">
                            <select class="form-control" type="text"  ng-model="driver.city_id">
                                <option ng-repeat="x in city" value="{{x.city_id}}">{{x.city_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="truck_state">身份审核</label>
                        <div class="col-sm-4">
                            <select class="form-control"  id="truck_state" ng-model="driver.truck_state">
                                <option value="未确认">未确认</option>
                                <option value="确认">确认</option>
                            </select>
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">保存</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </form>
    </body>
</html>