<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="driverOrderForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">司机订单信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="task_id">任务</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="task_id" ng-model="driver_tasks.task_id">
                        <option ng-repeat="x in task" value="{{x.task_id}}">{{x.task_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="driver_id">司机</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="driver_id" ng-model="driver_tasks.driver_id">
                        <option ng-repeat="x in driver" value="{{x.driver_id}}">{{x.driver_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="task_valid">任务状态</label>
                <div class="col-sm-4">
                    <select class="form-control"  type="text"  id="task_valid" ng-model="driver_tasks.task_valid">
                        <option value="待确认接单">待确认接单</option>
                        <option value="确认接单">确认接单</option>
                        <option value="已完成">已完成</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>