<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>国础物流后台管理系统</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/ng-grid.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body ng-controller="SelfCtrl2">
<nav id="nav" class="navbar navbar-default" role="navigation" >
    <div class="navbar-header">
        <a class="navbar-brand" id="logo" href="#" ><img  src="../img/logo4.jpg"/></a>
    </div>
    <div class="collapse navbar-collapse" >
        <% if(admin) {%>
        <ul class="nav navbar-nav"><li id="welcome">欢迎您 : <%= admin.admin_name %></li><li id="self_id" style="display:none"><%= admin.admin_id %></li></ul>
        <ul class="nav navbar-nav navbar-right" >
            <li><a ng-click="self()">个人信息管理</a></li>
            <li><a href="/logout" >[退出]</a></li>
        </ul>
    </div>
</nav>
<!--判断id-->
<div class="container-fluid" >
    <div class="row"  >
        <div class="col-sm-3 col-md-2 sidebar-menu">
            <div class="nav panel-group" id="accordion"  >
                <div class="panel">
                    <ul class="nav"><li><a href="#dashboard-menu"  data-toggle="collapse" data-parent="#accordion" target="menuFrame"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;<span>首页</span></a></li></ul>
                    <ul id="dashboard-menu" class="nav nav-list collapse ">

                    </ul>

                     <% if(admin.role_id == 1 || admin.role_id == 4 || admin.role_id==2) {%>
                    <ul class="nav"><li><a href="#dashboard-menu1"  data-toggle="collapse" data-parent="#accordion" target="menuFrame"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;<span>用户管理</span></a></li></ul>
                    <ul id="dashboard-menu1" class="nav nav-list collapse " style="color:#fff">
                        <% if(admin.role_id == 1) {%>
                        <li><a href="#/user">用户管理</a></li>
                        <li><a href="#/driver">司机管理</a></li>
                        <li><a href="#/admin">管理员管理</a></li>
                        <% } %>
                        <% if(admin.role_id == 4 || admin.role_id==2) {%>
                        <li><a href="#/user4">用户管理</a></li>
                        <% } %>
                    </ul>
                    <% } %>


                    <% if(admin.role_id == 1 || admin.role_id == 4) {%>
                    <ul class="nav"><li><a href="#dashboard-menu2"  data-toggle="collapse" data-parent="#accordion" target="menuFrame"><span class="glyphicon glyphicon-tags"></span> &nbsp;&nbsp;&nbsp;<span>商品管理</span></a></li></ul>
                    <ul id="dashboard-menu2" class="nav nav-list collapse  ">
                        <% if(admin.role_id == 1) {%>
                        <li><a href="#/product">产品管理</a></li>
                        <li><a href="#/highway">公路计费</a></li>
                        <li><a href="#/path">铁路路线</a></li>
                        <li><a href="#/station">站点信息</a></li>
                        <% } %>
                        <% if(admin.role_id == 4) {%>
                        <li><a href="#/product4">产品管理</a></li>
                        <li><a href="#/highway4">公路计费</a></li>
                        <li><a href="#/path4">铁路路线</a></li>
                        <% } %>
                    </ul>
                    <% } %>

                    <!--订单管理，任何管理员都可以-->
                    <ul class="nav"><li><a href="#dashboard-menu4"  data-toggle="collapse" data-parent="#accordion" target="menuFrame"><span class="glyphicon glyphicon-list-alt"></span> &nbsp;&nbsp;&nbsp;<span>订单管理</span></a></li></ul>
                    <ul id="dashboard-menu4" class="nav nav-list collapse  ">
                        <% if(admin.role_id == 4 ) {%>
                        <li><a href="#/transport4">物流订单</a></li>
                        <li><a href="#/productOrder4">产品订单</a></li>
                        <li><a href="#/rentOrder4">租箱订单</a></li>
                        <li><a href="#/driverOrder4">司机订单</a></li>
                        <li><a href="#/collecting4">沥青代采订单</a></li>
                        <% } %>
                        <% if(admin.role_id == 1 || admin.role_id==2 || admin.role_id==3) {%>
                        <li><a href="#/transport">物流订单</a></li>
                        <li><a href="#/productOrder">产品订单</a></li>
                        <li><a href="#/rentOrder">租箱订单</a></li>
                        <li><a href="#/driverOrder">司机订单</a></li>
                        <li><a href="#/collecting">沥青代采订单</a></li>
                        <% } %>
                    </ul>


                    <ul class="nav"><li><a href="#dashboard-menu5"  data-toggle="collapse" data-parent="#accordion" target="menuFrame"><span class="glyphicon glyphicon-file"></span> &nbsp;&nbsp;&nbsp;<span>信息管理</span></a></li></ul>
                    <ul id="dashboard-menu5" class="nav nav-list collapse  ">
                        <% if(admin.role_id == 1 || admin.role_id == 2 || admin.role_id==3) {%>
                        <li><a href="#/pay">付款信息</a></li>
                        <% } %>

                        <% if(admin.role_id == 1) {%>
                        <li><a href="#/tender">投标信息</a></li>
                        <li><a href="#/message">业内信息</a></li>
                        <li><a href="#/gpsInformation">物流信息</a></li>
                        <li><a href="#/supplier">供应商信息</a></li>
                        <li><a href="#/inventory">供应商库存</a></li>
                        <li><a href="#/transportTask">运输任务信息</a></li>
                        <% } %>
                        <% if(admin.role_id == 4) {%>
                        <li><a href="#/tender4">投标信息</a></li>
                        <li><a href="#/message4">业内信息</a></li>
                        <li><a href="#/gpsInformation4">物流信息</a></li>
                        <li><a href="#/supplier4">供应商信息</a></li>
                        <li><a href="#/inventory4">供应商库存</a></li>
                        <li><a href="#/transportTask4">运输任务信息</a></li>
                        <% } %>

                        <% if(admin.role_id == 1) {%>
                        <li><a href="#/newTransport">客户新增路线</a></li>
                        <% } %>

                    </ul>


                    <% if(admin.role_id == 1 || admin.role_id == 4 || admin.role_id==3) {%>
                    <ul class="nav"><li><a href="#dashboard-menu3"  data-toggle="collapse" data-parent="#accordion" target="menuFrame"><span class="glyphicon glyphicon-th-large"></span> &nbsp;&nbsp;&nbsp;<span>集装箱管理</span></a></li></ul>
                    <ul id="dashboard-menu3" class="nav nav-list collapse  ">
                        <% if(admin.role_id == 1) {%>
                        <li><a href="#/gps">GPS管理</a></li>
                        <li><a href="#/container">集装箱管理</a></li>
                        <% } %>
                        <% if(admin.role_id == 1 || admin.role_id == 3) {%>
                        <li><a href="#/rentCon">租箱管理</a></li>
                        <li><a href="#/productCon">运输分配</a></li>
                        <% } %>
                        <% if(admin.role_id == 4) {%>
                        <li><a href="#/gps4">GPS管理</a></li>
                        <li><a href="#/rentCon4">租箱管理</a></li>
                        <li><a href="#/productCon4">运输分配</a></li>
                        <% } %>
                    </ul>
                    <% } %>

                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-10" ng-view></div>
    </div>
</div>


<% } %>






<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
<script type="text/javascript" src="../js/jquery-2.1.1.min.js" ></script>
<script type="text/javascript" src="../js/angular.min.js" ></script>
<script type="text/javascript" src="../js/angular-route.min.js" ></script>
<script type="text/javascript" src="../js/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="../js/ng-grid.min.js"></script>
<script type="text/javascript" src="../js/controllers/selfController.js"></script>
<script type="text/javascript" src="../js/controllers/adminController.js"></script>
<script type="text/javascript" src="../js/controllers/userController.js"></script>
<script type="text/javascript" src="../js/controllers/driverController.js"></script>
<script type="text/javascript" src="../js/controllers/productController.js"></script>
<script type="text/javascript" src="../js/controllers/transportController.js"></script>
<script type="text/javascript" src="../js/controllers/productOrderController.js"></script>
<script type="text/javascript" src="../js/controllers/rentOrderController.js"></script>
<script type="text/javascript" src="../js/controllers/driverOrderController.js"></script>
<script type="text/javascript" src="../js/controllers/messageController.js"></script>
<script type="text/javascript" src="../js/controllers/tenderController.js"></script>
<script type="text/javascript" src="../js/controllers/gpsInformationController.js"></script>
<script type="text/javascript" src="../js/controllers/supplierController.js"></script>
<script type="text/javascript" src="../js/controllers/gpsController.js"></script>
<script type="text/javascript" src="../js/controllers/containerController.js"></script>
<script type="text/javascript" src="../js/controllers/highwayController.js"></script>
<script type="text/javascript" src="../js/controllers/pathController.js"></script>
<script type="text/javascript" src="../js/controllers/inventoryController.js"></script>
<script type="text/javascript" src="../js/controllers/transportTaskController.js"></script>
<script type="text/javascript" src="../js/controllers/newTransportController.js"></script>
<script type="text/javascript" src="../js/controllers/collectingController.js"></script>
<script type="text/javascript" src="../js/controllers/collectingOrderController.js"></script>
<script type="text/javascript" src="../js/controllers/productOrderInfController.js"></script>
<script type="text/javascript" src="../js/controllers/payController.js"></script>
<script type="text/javascript" src="../js/controllers/productConController.js"></script>
<script type="text/javascript" src="../js/controllers/rentConController.js"></script>
<script type="text/javascript" src="../js/controllers/containerController2.js"></script>
<script type="text/javascript" src="../js/controllers/pathInfController.js"></script>
<script type="text/javascript" src="../js/controllers/stationController.js"></script>
<script type="text/javascript" src="../js/controllers/app.js"></script>
</body>
</html>