<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">

    <style>
        body{
            background: url(../img/lbg12.jpg) no-repeat;
        }
        .panel{
            margin-top:210px;
            opacity: 0.7;
        }
    </style>
</head>
<body>
<div class="container " >
    <div class="row">
        <div class=" col-md-4 col-md-offset-4 panel panel-default">
            <div class="panel-body">
                <form class="form-login"  method="post" action="/query">
                    <h2 style="text-align:center;font-family:verdana;" class="form-login-heading"> <strong>国础物流后台管理系统</strong> </h2>

                    <br>
                    <div class="form-group has-feedback">

                        <input type="text" id="admin_name" name="admin_name" class="form-control" value="" placeholder="请输入用户名" required />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" id="password" name="password" class="form-control" value="" placeholder="密码" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                     <!--<h6 style="font-size:16px;text-align:center;font-family:verdana;color:red">-->
                    <h6 style="font-size:16px;font-family:verdana;color:red">
                    <% if (msg) { %>
                    <%= msg %>
                    <% } %>
                    </h6>
                    <div class="checkbox">
                        <label>
                            <input id="chRem" name="chRem" type="checkbox" value="remember-me"> 记住账号
                        </label>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary btn-block" id="login0" >登录</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/controllers/app.js"></script>



</body>
</html>