<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="gpsForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">GPS管理</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="gps_name">GPS名称</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="gps_name" ng-model="gps.gps_name">
                </div>
                <label class="col-md-2 control-label" for="state">GPS状态</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="state" ng-model="gps.state">
                        <option volue="正常">正常</option>
                        <option volue="损坏">损坏</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>