<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css">
</head>
<body>
<form role="form" id="collecting_demandForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">代采订单信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="user_id">用户</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="user_id" ng-model="collecting_demand.user_id">
                </div>
                <label class="col-md-2 control-label" for="buy_time">采购时间</label>
                <div class="col-sm-4">
                    <input  class="form-control form_datetime" type="text" id="buy_time" readonly ng-model="collecting_demand.buy_time" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="colle_total_price">报价 </label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="colle_total_price" ng-model="collecting_demand.colle_total_price">
                </div>
                <label class="col-md-2 control-label" for="colle_comment">备注</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="colle_comment" ng-model="collecting_demand.colle_comment">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="order_time">下单时间</label>
                <div class="col-sm-4">
                    <input  class="form-control" type="text" id="order_time" ng-model="collecting_demand.order_time" >
                </div>
                <label class="col-md-2 control-label" for="admin_id">客服</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="admin_id" ng-model="collecting_demand.admin_id">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../js/bootstrap-datetimepicker.min.js"></script>
<script src="../../js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../js/datetime.js"></script>
</body>
</html>