.container-fluid{
    background: #ebeff2;
}
 .navbar-default,#nav{
    margin-bottom: 0;
}
 .nav{
     color:#2b3946;
 }
 #welcome{
     margin-left:550px;
     margin-top:15px;

 }
  #logo{
     margin-bottom:1px;
     margin-left:100px;
      padding-top:5px;
 }
 #logo img{
     height:45px;
 }
.sidebar-menu{
    height:700px;
    background: #2b3946;
}
.sidebar-menu .panel{
    background: #2b3946;
    margin-left:20px;
}
.sidebar-menu .panel .nav a{
    color:#16b398;
}

.nav> li >a:hover,
.nav  li  a:focus {
    text-decoration: none;
    background-color:#1d2935;
}

.sidebar-menu .panel .nav-list a{
    color:#fff;
    padding-left:45px;
}

.center-top,.center{
    margin-top:8px;
    background: #fff;
}
.center-top{
    height:100px;
}
.nav-page{
    padding-top:10px;
}
.breadcrumb a{
    color:#16b398;
}
.input-group{
    padding-top:50px;
}
.center-top input:focus{
    border-color:#2b3946;
}
.search,.input-group-btn button:focus{
    background:#2b3946;
    color:#16b398;
}
.input-group-btn button:hover{
    background-color:#1d2935;
    color:#16b398;
}
/*button增删改的样式*/
#db-btn button{
    background:#2b3946;
    color:#16b398;
}
#db-btn button:hover,
#db-btn button:focus {
    text-decoration: none;
    background-color:#1d2935;
    color:#fff;
}
/*ng-view的样式*/
.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 390px;
}
.ngGridMaxPagesNumber {
    display: inline-block;
    margin-top: -10px;
}