* {
    margin: 0;
    padding: 0;
}
.file-beautify {
    width: 700px;
    margin: 10px auto;
}
.file-control {
    position: relative;
    display: block;
    line-height: 40px;
    overflow: hidden;
}
.file-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    background: #428bca;
}
.input-filee{
    height: 28px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 1px;
    padding-bottom: 1px;

}
.input-file{
    padding: 4px 10px;
    height: 30px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    color: #000000;
    background: #D8D8D8;
    border: 1px solid #778899;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}
.file-btn .input-file {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    font-size: 200px;
    opacity: 0;
    border: 0 none !important;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.file-control .input-txt {
    padding: 2px 0 2px 90px;
    display: block;
    height: 19px;
    line-height: 19px;
    border: 1px solid #c2c2c2;
}