<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="containerForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">集装箱信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="container_name">集装箱名</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="container_name" ng-model="container.container_name">
                </div>
                <label class="col-md-2 control-label" for="container_state">状态</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="container_state" ng-model="container.container_state">
                        <option value="运输中">运输中</option>
                        <option value="租赁中">租赁中</option>
                        <option value="空">空</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="gps_id">GPS</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="gps_id" ng-model="container.gps_id">
                        <option ng-repeat="x in gps" value="{{x.gps_id}}">{{x.gps_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="price">租价</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="price" ng-model="container.price">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>