<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="gpsInformationForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">物流信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="gps_id">GPS编号</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="gps_id" ng-model="gps_information.gps_id">
                </div>
                <label class="col-md-2 control-label" for="time">时间</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="time" ng-model="gps_information.time">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="longitude">经度</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="longitude" ng-model="gps_information.longitude">
                </div>
                <label class="col-md-2 control-label" for="latitude">纬度</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="latitude" ng-model="gps_information.latitude">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="temperature">温度</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="temperature" ng-model="gps_information.temperature">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>