<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css">
</head>
<body>
<form role="form" id="inventoryForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">供应商库存信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="supplier_id">供应商</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="supplier_id" ng-model="inventory.supplier_id">
                </div>
                <label class="col-md-2 control-label" for="supply_time">供应时间</label>
                <div class="col-sm-4">
                    <input class="form-control form_datetime" type="text" id="supply_time" readonly ng-model="inventory.supply_time">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="product_id">产品</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="product_id" ng-model="inventory.product_id">
                        <option ng-repeat="x in product" value="{{x.product_id}}">{{x.product_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="product_num">产品数量</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="product_num" ng-model="inventory.product_num">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../js/bootstrap-datetimepicker.min.js"></script>
<script src="../../js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../js/datetime.js"></script>
</body>
</html>