<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="messageForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">业内信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="msg_type">信息类型</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="msg_type" ng-model="message.msg_type">
                        <option value="期货走向">期货走向</option>
                        <option value="现货价格">现货价格</option>
                        <option value="市场新闻">市场新闻</option>
                        <option value="原油走向">原油走向</option>
                        <option value="燃料油走向">燃料油走向</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="msg_title">标题</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="msg_title" ng-model="message.msg_title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="msg_content">内容</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="msg_content" ng-model="message.msg_content"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="msg_time">发布时间</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="msg_time" ng-model="message.msg_time">
                </div>
                <label class="col-md-2 control-label" for="msg_picture">信息图片</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="msg_picture" ng-model="message.msg_picture">
                </div>

            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>