<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="new_transportForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">客户新增路线信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="user_id">用户</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="user_id" ng-model="new_transport.user_id">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="start_provice">发货省份</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="start_provice" ng-change="change(new_transport.start_provice)" ng-model="new_transport.start_provice">
                        <option ng-repeat="x in provice" value="{{x.provice_id}}">{{x.provice_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="start_city">发货城市</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="start_city" ng-model="new_transport.start_city">
                        <option ng-repeat="x in city" value="{{x.city_id}}">{{x.city_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="start_station">发货站点</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="start_station" ng-model="new_transport.start_station">
                </div>
                <label class="col-md-2 control-label" for="start_address">发货地址</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="start_address" ng-model="new_transport.start_address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="end_provice">收货省份</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="end_provice" ng-change="change1(new_transport.end_provice)" ng-model="new_transport.end_provice">
                        <option ng-repeat="x in provice" value="{{x.provice_id}}">{{x.provice_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="end_city">收货城市</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="end_city" ng-model="new_transport.end_city">
                        <option ng-repeat="x in city1" value="{{x.city_id}}">{{x.city_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="end_station">收货站点</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="end_station" ng-model="new_transport.end_station">
                </div>
                <label class="col-md-2 control-label" for="end_address">收货地址</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="end_address" ng-model="new_transport.end_address">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>