<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="payForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">付款信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="user_id">用户</label>
                <div class="col-sm-4">
                    <input class="form-control" id="user_id" ng-model="pay.user_id">
                </div>
                <label class="col-md-2 control-label" for="amount">付款金额</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="amount" ng-model="pay.amount">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="payment_voucher">付款流水</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="payment_voucher" ng-model="pay.payment_voucher">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="comment">备注信息</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="comment" ng-model="pay.comment">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="pay_time">付款时间</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="pay_time" ng-model="pay.pay_time">
                </div>
                <label class="col-md-2 control-label" for="state">状态</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="state" ng-model="pay.state">
                        <option value="待审核">待审核</option>
                        <option value="已付款">已付款</option>
                    </select>
                </div>
            </div>

        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>