<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="supplierForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">代理商信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="supplier_name">代理商名</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="supplier_name" ng-model="supplier.supplier_name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="provice_id">所属省</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="provice_id" ng-change="change(supplier.provice_id)" ng-model="supplier.provice_id">
                        <option ng-repeat="x in provice" value="{{x.provice_id}}">{{x.provice_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="city_id">所属市</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="city_id" ng-model="supplier.city_id">
                        <option ng-repeat="x in city" value="{{x.city_id}}">{{x.city_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="longitude">经度</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="longitude" ng-model="supplier.longitude">
                </div>
                <label class="col-md-2 control-label" for="latitude">纬度</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="latitude" ng-model="supplier.latitude">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="supplier_phone1">联系电话</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="supplier_phone1" ng-model="supplier.supplier_phone1">
                </div>
                <label class="col-md-2 control-label" for="supplier_phone2">手机</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="supplier_phone2" ng-model="supplier.supplier_phone2">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>