<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="tenderForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">招标信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="title">标题</label>
                <div class="col-sm-4">
                    <input class="form-control" id="title" ng-model="tender.title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="content">内容</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="content" ng-model="tender.content"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="provice_id">所属省</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" ng-change="change(tender.provice_id)" id="provice_id" ng-model="tender.provice_id">
                        <option ng-repeat="x in provice" value="{{x.provice_id}}">{{x.provice_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="city_id">所属市</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="city_id" ng-model="tender.city_id">
                        <option ng-repeat="x in city" value="{{x.city_id}}">{{x.city_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="state">招标状态</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="state" ng-model="tender.state">
                        <option value="正招标">正招标</option>
                        <option value="已结束">已结束</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="publish_time">发布时间</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="publish_time" ng-model="tender.publish_time">
                </div>

            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>