<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css">
</head>
<body>
<form role="form" id="transport_tasksForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">运输任务信息管理</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="task_name">任务名称</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="task_name" ng-model="transport_tasks.task_name">
                </div>
                <label class="col-md-2 control-label" for="box_num">箱子数量</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="box_num"  ng-model="transport_tasks.box_num">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2 control-label" for="task_time">任务时间</label>
                <div class="col-sm-4">
                    <input class="form-control form_datetime" type="text" id="task_time" readonly  ng-model="transport_tasks.task_time">
                </div>
                <label class="col-md-2 control-label" for="startpoint">起点</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="startpoint" ng-model="transport_tasks.startpoint">
                        <option ng-repeat="x in station" value="{{x.station_id}}">{{x.station_name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="endpoint">终点</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="endpoint" ng-model="transport_tasks.endpoint">
                </div>
                <label class="col-md-2 control-label" for="task_price">任务报价</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="task_price" ng-model="transport_tasks.task_price">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-2 control-label" for="city_id">城市</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="city_id" ng-model="transport_tasks.city_id">
                        <option ng-repeat="x in city " value="{{x.city_id}}">{{x.city_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="task_state">状态</label>
                <div class="col-sm-4">
                    <select class="form-control"  type="text" id="task_state" ng-model="transport_tasks.task_state">
                        <option value="待承运">待承运</option>
                        <option value="已承运">已承运</option>
                        <option value="完成">完成</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="order_type">订单类型</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="order_type" ng-model="transport_tasks.order_type">
                        <option value="产品订单">产品订单</option>
                        <option value="租箱订单">租箱订单</option>
                        <option value="物流订单">物流订单</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="order_id">订单编号</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="order_id" ng-model="transport_tasks.order_id">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../js/bootstrap-datetimepicker.min.js"></script>
<script src="../../js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../js/datetime.js"></script>
</body>
</html>