<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/bootstrap-datetimepicker.min.css">
<body>
<form role="form" id="rentOrderForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">产品信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="user_id">用户</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="user_id" ng-model="rent_order.user_id">
                </div>
                <label class="col-md-2 control-label" for="rent_total_price">总价</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="rent_total_price" ng-model="rent_order.rent_total_price">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="rent_use">用途</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="rent_use" ng-model="rent_order.rent_use">
                </div>
                <label class="col-md-2 control-label" for="number">数量</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="number" ng-model="rent_order.number">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="rent_time">时长</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="rent_time" ng-model="rent_order.rent_time">
                </div>
                <label class="col-md-2 control-label" for="start_time">起租</label>
                <div class="col-sm-4">
                    <input class="form-control form_datetime" type="text" id="start_time" ng-model="rent_order.start_time">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="rent_actual_total_price">实际总价</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="rent_actual_total_price" ng-model="rent_order.rent_actual_total_price">
                </div>
                <label class="col-md-2 control-label" for="highway_long1">起始里程</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="highway_long1" ng-model="rent_order.highway_long1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="highway_price1">起始运费</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="highway_price1" ng-model="rent_order.highway_price1">
                </div>
                <label class="col-md-2 control-label" for="highway_long2">终点里程</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="highway_long2" ng-model="rent_order.highway_long2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="highway_price2">终点运费</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="highway_price2" ng-model="rent_order.highway_price2">
                </div>
                <label class="col-md-2 control-label" for="path_id">铁路路线</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="path_id" ng-model="rent_order.path_id">
                        <option ng-repeat="x in path" value="{{x.path_id}}">{{x.path_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="railway_price">铁路运费</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="railway_price" ng-model="rent_order.railway_price">
                </div>
                <label class="col-md-2 control-label" for="order_total_price">总价</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="order_total_price" ng-model="rent_order.order_total_price">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="consigner_address">发货地址</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="consigner_address" ng-model="rent_order.consigner_address">
                </div>
                <label class="col-md-2 control-label" for="consignee_address">收货地址</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="consignee_address" ng-model="rent_order.consignee_address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="order_state">订单状态</label>
                <div class="col-sm-4">
                    <select class="form-control"  type="text"  id="order_state" ng-model="rent_order.order_state">
                        <option value="待付款">待付款</option>
                        <option value="待发货">待发货</option>
                        <option value="运输中">运输中</option>
                        <option value="已送达">已送达</option>
                        <option value="完成">完成</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="order_time">下单时间</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="order_time" ng-model="rent_order.order_time">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="admin_id">客服</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="admin_id" ng-model="rent_order.admin_id">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../js/bootstrap-datetimepicker.min.js"></script>
<script src="../../js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="../../js/datetime.js"></script>
</body>
</html>