<!DOCTYPE html>
<html lang="zh_cn" class="ng-scope" ng-app="app" >
<head>
    <meta charset="utf-8">
</head>
<body>

        <form role="form" id="selfForm" class="form-horizontal">
            <div class="modal-header">
                <div class="modal-title col-md-6 col-md-offset-3">个人信息</div>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="admin_name" >管理员名</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="admin_name"  ng-model="self.admin_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="password" >密 码</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="password" id ="password"  ng-model="self.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="role_id">角 色</label>
                        <div class="col-sm-5">
                            <select class="form-control"  id="role_id" ng-model="self.role_id">
                                <option value="1">超级管理员</option>
                                <option value="2">订单管理员</option>
                                <option value="3">财务管理员</option>
                                <option value="4">订单客服</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="tel1">手 机</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="tel" id='tel1'  ng-model="self.tel1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="tel2">电 话</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="tel" id="tel2"  ng-model="self.tel2">
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary col-md-1 col-md-offset-4" ng-click="update()">修改</button>
                <button type="button" class="btn btn-default col-md-1 col-md-offset-5" ng-click="cancel()">返回</button>
            </div>

        </form>

</body>
</html>
