<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
    </head>
    <body >
        <form role="form" id="adminForm" class="form-horizontal">
            <div class="modal-header">
                <div class="modal-title">个人信息修改</div>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="admin_name" >管理员名</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="admin_name"  ng-model="admin.admin_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="password" >密 码</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="password" id ="password" ng-model="admin.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="tel1">手 机</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="tel" id='tel1'  ng-model="admin.tel1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="tel2">电 话</label>
                        <div class="col-sm-5">
                            <input class="form-control" type="tel" id="tel2"  ng-model="admin.tel2">
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <div class="form-group ">
                    <button class="btn btn-primary col-md-1 col-md-offset-4" ng-click="ok()">保存</button>
                    <button class="btn btn-primary col-md-1 col-md-offset-5" ng-click="cancel()">取消</button>
                </div>
            </div>
        </form>
    </body>
</html>