<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="highwayForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">公路计费信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="highway_long">公里</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="highway_long" ng-model="highway.highway_long">
                </div>
                <label class="col-md-2 control-label" for="price">计费</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="price" ng-model="highway.price">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>