<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="collectingOrderForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">产品订单详细信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="product_order_id">产品订单</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="product_order_id"  ng-model="productOrderInf.product_order_id">
                </div>
                <label class="col-md-2 control-label" for="product_id">产品 </label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="product_id" ng-model="productOrderInf.product_id">
                        <option ng-repeat="x in product" value="{{x.product_id}}">{{x.product_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="product_num">产品数量</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="product_num" ng-model="productOrderInf.product_num">
                </div>
                <label class="col-md-2 control-label" for="price">总价</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="price"  ng-model="productOrderInf.price">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="actual_price">实际总价</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="actual_price" ng-model="productOrderInf.actual_price">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>