<!DOCTYPE html>
<html lang="zh_cn" class="ng-scope" ng-app="app">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <div class="center-top">
        <div class="col-md-3 nav-page">
            <ol class="breadcrumb">
                <li class="active">运输分配管理</li>
            </ol>
        </div>
    </div>
    <div class="center" >
        <div id="db-btn" class="btn-group" role="group" aria-label="工具栏">
            <button type="button" class="btn btn-default" ng-click="insert()">新增</button>
            <button type="button" class="btn btn-default" ng-click="update()">修改</button>
            <button type="button" class="btn btn-default" ng-click="delete()">删除</button>
            <button type="button" class="btn btn-default" ng-click="pManage()">分配集装箱</button>
        </div>

        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>

    </body>
</html>
