<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form role="form" id="productConForm" class="form-horizontal">
            <div class="modal-header">
                <div class="modal-title">产品订单分配集装箱</div>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="product_order_id">产品订单号：</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" id="product_order_id" ng-model="pManage.product_order_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-9 control-label" >分配成功后可回租箱管理页面查询分配结果！</label>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">保存</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </form>
    </body>
</html>