<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="productForm" class="form-horizontal" method="post"  action="/product/insert" enctype=multipart/form-data>
    <div class="modal-header">
        <div class="modal-title">产品信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="product_name">产品名称</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="product_name" id="product_name" ng-model="product.product_name" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="product_introduce">产品介绍</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="product_introduce" id="product_introduce" ng-model="product.product_introduce"></textarea>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-2 control-label" for="product_picture">产品图片</label>
                <div class="col-sm-9">
                    <input class="form-control" id="fulAvatar" name="fulAvatar" type="file" >
                    <!--<button id="btnSub" class="btn btn-lg btn-primary" type="submit">上传</button>-->
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-2 control-label" for="price">价格/吨</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" name="price" id="price" ng-model="product.price" >
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="real_price">实价</label>
                <div class="col-sm-4">
                    <input class="form-control" name="real_price" id="real_price" type="text" ng-model="product.real_price" >
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>


</html>