<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form role="form" id="productConForm" class="form-horizontal">
            <div class="modal-header">
                <div class="modal-title">产品集装箱关系信息</div>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="product_order_id">产品订单</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="product_order_id" ng-model="productCon.product_order_id">
                        </div>
                        <label class="col-md-2 control-label" for="container_id">集装箱编号</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="container_id" ng-model="productCon.container_id">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">保存</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </form>
    </body>
</html>