<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form role="form" id="adminForm" class="form-horizontal">
            <div class="modal-header">
                <div class="modal-title">管理员信息</div>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="admin_name">管理员名</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="admin_name" ng-model="admin.admin_name">
                        </div>
                        <label class="col-md-2 control-label" for="password">密码</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="password" ng-model="admin.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="role_id">角色</label>
                        <div class="col-sm-4">
                            <select  class="form-control"  id="role_id" ng-model="admin.role_id" >
                                <option ng-repeat="x in admin_id" value="{{x.role_id}}">{{x.role_name}}</option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label" for="tel1">手机</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="tel" ng-model="admin.tel1">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="tel2">电话</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="tel" id="tel2" ng-model="admin.tel2">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">保存</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </form>
    </body>
</html>