<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="pstationForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-station_name">增加线路站点</div>
    </div>
    <div class="modal-body">
        <button class=" btn btn-defalut" ng-click="input()"><span class="glyphicon glyphicon-plus"></span></button>
        <fieldset class="station">
            <div class="form-group">
                <label class="col-md-2 control-label" for="path_order">站点排序</label>
                <div class="col-sm-2">
                    <input class="form-control" id="path_order" >
                </div>
                <label class="col-md-2 control-label" for="station_id">站点名称</label>
                <div class="col-sm-6">
                    <select  class="form-control" id="station_id" >
                        <option ng-repeat="x in station" value="{{x.station_id}}" ng-bind="x.station_name"></option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>