<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="pathForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">铁路路线信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label" for="path_name">路线名称</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="path_name" ng-model="path.path_name">
                </div>
                <label class="col-md-3 control-label" for="start_station_id">起点站</label>
                <div class="col-sm-3">
                    <select class="form-control" type="text" id="start_station_id" ng-model="path.start_station_id">
                        <option ng-repeat="x in station" value="{{x.station_id}}">{{x.station_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="end_station_id">终点站</label>
                <div class="col-sm-3">
                    <select class="form-control" type="text" id="end_station_id" ng-model="path.end_station_id">
                        <option ng-repeat="x in station" value="{{x.station_id}}">{{x.station_name}}</option>
                    </select>
                </div>
                <label class="col-md-3 control-label" for="path_long">里程</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="path_long" ng-model="path.path_long">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="path_time">运到期限</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="path_time" ng-model="path.path_time">
                </div>
                <label class="col-md-3 control-label" for="money1">印花税/箱</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="money1" ng-model="path.money1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="money2">电气化附加费</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="money2" ng-model="path.money2">
                </div>
                <label class="col-md-3 control-label" for="money3">铁路建设基金</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="money3" ng-model="path.money3">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="money4">到站取送费</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="money4" ng-model="path.money4">
                </div>
                <label class="col-md-3 control-label" for="money5">西平运费（西）</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="money5" ng-model="path.money5">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="money6">西平运费（兰）</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="money6" ng-model="path.money6">
                </div>
                <label class="col-md-3 control-label" for="money7">到站装卸费</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="money7" ng-model="path.money7">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="money8">运费</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="money8" ng-model="path.money8">
                </div>
                <label class="col-md-3 control-label" for="total_money">总计</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="total_money" ng-model="path.total_money">
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>