<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="pathForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-title">路线站点信息修改</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-3 control-label" for="path_id">路线名称</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="path_id" ng-model="path.path_id">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="path_order">排序</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="path_order" ng-model="path.path_order">
                </div>
                <label class="col-md-3 control-label" for="station_id">站点名称</label>
                <div class="col-sm-3">
                    <select class="form-control" type="text" id="station_id" ng-model="path.station_id">
                        <option ng-repeat="x in station" value="{{x.station_id}}">{{x.station_name}}</option>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>