<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
</head>
<body>
<form role="form" id="stationForm" class="form-horizontal">
    <div class="modal-header">
        <div class="modal-station_name">站点信息</div>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="form-group">
                <label class="col-md-2 control-label" for="station_name">站点名称</label>
                <div class="col-sm-4">
                    <input class="form-control" id="station_name" ng-model="station.station_name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="provice_id">所属省</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="provice_id" ng-change="change(station.provice_id)" ng-model="station.provice_id">
                        <option ng-repeat="x in provice" value="{{x.provice_id}}">{{x.provice_name}}</option>
                    </select>
                </div>
                <label class="col-md-2 control-label" for="city_id">所属市</label>
                <div class="col-sm-4">
                    <select class="form-control" type="text" id="city_id" ng-model="station.city_id">
                        <option ng-repeat="x in city" value="{{x.city_id}}">{{x.city_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="longitude">经度</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="longitude" ng-model="station.longitude">
                </div>
                <label class="col-md-2 control-label" for="latitude">纬度</label>
                <div class="col-sm-4">
                    <input class="form-control" type="text" id="latitude" ng-model="station.latitude">
                </div>

            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">保存</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</form>
</body>
</html>