<!DOCTYPE html>
<html lang="zh_cn" class="ng-scope" ng-app="app" ng-controller="UserCtrl">
    <head>
        <meta charset="utf-8">

    </head>
    <body>
    <div class="center-top">
        <div class="col-md-3 nav-page">
            <ol class="breadcrumb">
                <li><a href="#">用户管理</a></li>
                <li class="active">用户管理</li>
            </ol>
        </div>
        <div class="input-group col-md-3 col-md-offset-8" >
            <input type="text" class="form-control"placeholder="请输入用户名、公司名或手机号" ng-model="user_query">
            <span class="input-group-btn"><button class="btn search" ng-click="query2()"><span class="glyphicon glyphicon-search"></span></button></span>
        </div>
    </div>
    <div class="center" >
        <div id="db-btn" class="btn-group" role="group" aria-label="工具栏">
            <button type="button" class="btn btn-default" ng-click="insert()">新增</button>
            <button type="button" class="btn btn-default" ng-click="update()">修改</button>
            <button type="button" class="btn btn-default" ng-click="delete()">删除</button>
        </div>

        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
    <!--    <script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="../../js/jquery-2.1.1.min.js" ></script>
        <script type="text/javascript" src="../../js/angular.min.js" ></script>
        <script type="text/javascript" src="../../js/angular-route.min.js" ></script>
        <script type="text/javascript" src="../../js/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="../../js/ng-grid.min.js"></script>
        <script type="text/javascript" src="../../js/controllers/adminController.js"></script>
        <script type="text/javascript" src="../../js/controllers/app.js"></script>-->
    </body>
</html>
