<!DOCTYPE html>
<html lang="zh_cn">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form role="form" id="userForm" class="form-horizontal">
            <div class="modal-header">
                <div class="modal-title">用户信息</div>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="user_name">用户名</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="user_name" ng-model="user.user_name">
                        </div>
                        <label class="col-md-2 control-label" for="password">密码</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="password" ng-model="user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="company_name">公司名称</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="user.company_name">
                        </div>
                        <label class="col-md-2 control-label" for="company_address">公司地址</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="user.company_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="company_id">营业执照</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="user.company_id">
                        </div>
                        <label class="col-md-2 control-label" for="user_id_number">法人证明</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="user.user_id_number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="email">邮箱</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="email" ng-model="user.email">
                        </div>
                        <label class="col-md-2 control-label" for="tel1">QQ</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" ng-model="user.qq">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="tel1">手机</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="tel" id="tel1" ng-model="uaer.tel1">
                        </div>
                        <label class="col-md-2 control-label" for="tel2">电话</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="tel" id="tel2" ng-model="uaer.tel2">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">保存</button>
                <button class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </form>
    </body>
</html>